name: Hello World

on:
  workflow_dispatch:

jobs:
  build:
    name: Build - ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.runner }}

    strategy:
      fail-fast: false
      matrix:
        platform:
          - name: Linux x86_64
            runner: ubuntu-22.04
            target: x86_64-unknown-linux-gnu

          - name: Linux aarch64
            runner: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
        
          - name: Linux x86_64 (musl)
            runner: ubuntu-22.04
            target: x86_64-unknown-linux-musl

          - name: Linux aarch64 (musl)
            runner: ubuntu-24.04-arm
            target: aarch64-unknown-linux-musl

          # - name: Linux armv7
            #runner: ubuntu-22.04
            #target: armv7-unknown-linux-gnueabihf

    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.platform.target }}
          override: true

      - name: Print platform info
        run: |
          echo "Platform: ${{ matrix.platform.name }}"
          echo "Runner:   ${{ matrix.platform.runner }}"
          echo "Target:   ${{ matrix.platform.target }}"

      - name: Cargo build
        run: |
          cargo build --target ${{ matrix.platform.target }}
          ls ./target/release

      - name: Build .deb package
        run: |
          APP_NAME=beskar
          VERSION=1.0.${{ github.run_number }}
          ARCH=${{ matrix.platform.deb_arch }}

          PKG_DIR=${APP_NAME}_${VERSION}_${ARCH}

          mkdir -p ${PKG_DIR}/DEBIAN
          mkdir -p ${PKG_DIR}/usr/local/bin

          cp target/${{ matrix.platform.target }}/release/${APP_NAME} \
             ${PKG_DIR}/usr/local/bin/${APP_NAME}

          cat <<EOF > ${PKG_DIR}/DEBIAN/control
          Package: ${APP_NAME}
          Version: ${VERSION}
          Section: utils
          Priority: optional
          Architecture: ${ARCH}
          Maintainer: You <you@example.com>
          Description: Hello World Rust CLI
           Simple Rust CLI packaged as a .deb
          EOF

          dpkg-deb --build ${PKG_DIR}
