name: Hello World

on:
  workflow_dispatch:

jobs:
  build:
    name: Build - ${{ matrix.platform.name }}
    runs-on: ${{ matrix.platform.runner}}"

    strategy:
      matrix:
        platform:
          - name: Linux x86_64
            runner: ubuntu-22.04
            target: x86_64-unknown-linux-gnu

          - name: Linux aarch64
            runner: ubuntu-22.04-arm
            target: aarch64-unknown-linux-gnu

    steps:
      - uses: actions/checkout@v4

      - name: Print platform info
        run: |
          echo "Platform: ${{ matrix.platform.name }}"
          echo "Target:   ${{ matrix.platform.target }}"

      - name: Cargo build
        run: cargo build
